<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="about-section">
        <h1>Welcome to here</h1>
        <p>this bharath pusarla</p>
        <p>
            I am working for my stuff ic iusto soluta, autem qui aliquam illo aliquid eum dolorum minima maxime pariatur.
        </p>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Jane" style="width: 100%" />
                <div class="container">
                    <h2>Jack deck</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jack@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://img.freepik.com/premium-photo/young-handsome-man-with-beard-isolated-keeping-arms-crossed-frontal-position_1368-132662.jpg?w=2000" alt="Mike" style="width: 100%" />
                <div class="container">
                    <h2>trump</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>trump@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://t3.ftcdn.net/jpg/02/83/82/48/360_F_283824865_kH5JgncdnWCsOrd0YyCdCgMkceEOtcYU.jpg" alt="John" style="width: 100%" />
                <div class="container">
                    <h2>sins</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>sins@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<router-outlet></router-outlet>